body{
	/* background-image: url(../img/bg.png); */
	background-repeat: repeat-x;
	background-position: bottom;
	height: 100vh;
	background-attachment: fixed;
}
a{
	outline: none;
}
#header{
	margin: auto; 
	position: relative;
	padding-bottom: 20px;
}
#header img{
	max-width: 200px;
	margin-top: 20px;
}
#filter{
	background: #426A5A; /*#669966;*/
	border-bottom: 5px solid #93C01F;/*#4e7952;*/
	color: #fff;
	padding: 10px;
}
.padding1{
	padding: 20px 0;
}

#language{
	float: right;
	margin-top: 0px;
	position: absolute;
	right: 16px;
	z-index: 1;
}
#language ul li{
	list-style: none;
	display: inline-block;
}
#language a{
	background: #426A5A; /*#4e7952;*/
	color: #fff;
	font-size: 12px;
	padding: 5px;
}
#language a:hover{
	background: #86b986;
}
#disclaimer{
	position: relative;
	height: 60px;
	overflow: hidden;
	padding-bottom: 15px;
}
.disclaimer{
	height: auto!important;
}
.disclaimerTransparente{
	background-image: linear-gradient(rgba(255, 243, 205,0),rgba(255, 243, 205,.8),#fff3cd);
	min-height: 60px;
	width: 95%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	text-align: center;
	cursor: pointer;
}
.btDisclaimer{
	position: absolute;
	top: 0;
	right: 0;
	padding: .75rem 1.25rem;
	color: inherit;
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
}
.btDisclaimer:hover{
	color: #333;
}
.btDisclaimer:focus{
	outline: none;
}
#footer{
	background-color: #426A5A; /*#669966; */
	color: #fff;
	margin-top: 1px;
	padding: 15px 0;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #ddd;
}
#footer img{
	max-width: 500px;
}
/************* Breakpoint *************/
@media (max-width: 992px){
	#footer img{
		width: 80%;
		text-align: center;
		margin-top: 20px;
	}
}
@media (max-width: 768px){
	#header{
		text-align: center;
	}
	#language{
		float: none;
		margin-top: 0px;
		position: sticky;
		right: auto;
		width: 100%;
	}
	#footer{
		padding: 20px; 
		text-align: center;
	}
	#footer img{width: 100%; height: auto; text-align: center;}
}
/*correções svg Internet Explorer Edge*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"]{
		width: 100%; 
	}
}

/* Ajuste da cor dos botões */
.btn-success {
  background-color: #588a76 /*#426A5A*/ !important;
  border-color: #588a76 /*#426A5A*/ !important;
}
.btn-success:hover{
	background:#426A5A /*#588a76*/ !important;

}
