:root{
	--white:#fff;
	--green-dark:#426A5A;
	--green-light:#b8e22d;
	--red:#bd3131;
	--orange:#eb5f08;
}

body{
	/* background-image: url(../img/bg.png); */
	background-repeat: repeat-x;
	background-position: bottom;
	height: 100vh;
	background-attachment: fixed;
}
a{
	outline: none;
}
#header{
	margin: auto; 
	position: relative;
	padding-bottom: 20px;
}
#brand img{
	max-width: 300px;
	margin-top: 20px;
}
#filter{
	background: linear-gradient(
		to bottom right,
		var(--green-dark) 0%,
		var(--green-light) 62%,
		#d6df3d 72%,
		var(--orange) 86%,
		var(--red) 100%
	);
	margin: 0;
	box-sizing: border-box;
	background-position: 0% 50%;
	background-size: 260% 100%;
	animation: gradientShift 30s ease-in-out infinite;
	will-change: background-position;
	color: var(--white);
}
.header-inter{
	box-sizing: border-box;
	padding: 20px 0 10px 0 !important;
}
.padding1{
	padding: 20px 0;
}

#lang{
	text-align: right;
	font-size: 14px;
	margin-top: 0px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	width: 400px;
}
#lang ul{
	margin: 0;
	padding: 0;
}
#lang ul li{
	list-style: none;
	display: inline-block;
	margin-top: 20px;
}
#lang ul li a{
	padding: 4px 6px;
	text-decoration: none;
	color: #426A5A;
}
#lang ul li a:hover{
	background: #ddd;
	color: #5b6efd;
	border-radius: 5px;
}
#lang .current-lang a{
	background: #ddd;
	border-radius: 5px;
	color: #426A5A;
}
#disclaimer{
	position: relative;
	height: 60px;
	overflow: hidden;
	padding-bottom: 15px;
}
.disclaimer{
	height: auto!important;
}
.disclaimerTransparente{
	background-image: linear-gradient(rgba(255, 243, 205,0),rgba(255, 243, 205,.8),#fff3cd);
	min-height: 60px;
	width: 95%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	text-align: center;
	cursor: pointer;
}
.btDisclaimer{
	position: absolute;
	top: 0;
	right: 0;
	padding: .75rem 1.25rem;
	color: inherit;
	appearance: none;
	background-color: transparent;
	border: none;
	outline: none;
}
.btDisclaimer:hover{
	color: #333;
}
.btDisclaimer:focus{
	outline: none;
}
#footer{
	background-color: #426A5A; /*#669966; */
	color: #fff;
	margin-top: 1px;
	padding: 50px 0 20px 0;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #ddd;
}
#footer hr{
	border-color: rgba(255, 255, 255, 0.35);
	margin-top: 1.5rem;
	margin-bottom: 0;
}
#footer-logo-bir{
	text-align: right;
}
#footer-logo-bir img{
	height: 70px;
	width: auto;
}
#powered{
	background-color: #426A5A;
	color: #fff;
	text-align: center;
	font-size: .85rem;
	padding: 5px 0;
}
#powered img{
	height: 20px;
	margin-bottom: 10px;
}
#powered a{
	color: #fff;
	text-decoration: none;
}
#powered a:hover{
	color: #999;
	text-decoration: none;
}
/************* Breakpoint *************/
@media (max-width: 992px){
}
@media (max-width: 768px){
	#header{
		text-align: center;
	}
	#brand{
		text-align: center;
		margin-bottom: 15px;
	}
	#lang{
		float: none;
		margin-bottom: 10px;
		position: static;
		text-align: center;
		width: 100%;
	}
	#footer{
		text-align: center;
	}
	#footer-logo-bir{
		text-align: center;
		margin-top: 20px;
	}
	#footer img{
		width: auto;
		max-width: 100%;
		height: auto;
		text-align: center;
	}
}
/*correções svg Internet Explorer Edge*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"]{
		width: 100%; 
	}
}

/* Ajuste da cor dos botões */
.btn-success {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
	background: #218838 !important;
	border-color: #1e7e34 !important;
}
.btn-success:focus,
.btn-success.focus,
.btn-success:active:focus,
.btn-success.active:focus,
.show > .btn-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5) !important;
}
.btn-success:active,
.btn-success.active,
.show > .btn-success.dropdown-toggle {
	background: #1e7e34 !important;
	border-color: #1c7430 !important;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
