a{
	outline: none;
}
a:hover{
	text-decoration: none;
}
.padding1{
	padding: 50px 0; 
}
.padding2{
	padding: 30px 0; 
}
.title{
	font-size: 40px;
	color: #006a90;
	margin-bottom: 20px;
	position: relative;
}
.default_divider{
	border: 0;
	border-top: 3px solid #006a90;
	width: 70px;
	margin: 30px auto;
}
.default_divider2{
	border-color: #fff;
}
.textWhite{
	color: #fff;
}
#header{
	background: url(../img/bgBanner.jpg);
	background-size: cover;
	height: 400px;
}
#brand{
	margin-top: 30px;
}
#brand img{
	max-width: 300px;
}
#language{
	float: right;
	margin-top: 0px;
	position: absolute;
	right: 16px;
	z-index: 1;
}
#language ul li{
	list-style: none;
	display: inline-block;
}
#language a{
	background:#4e7952;
	color: #fff;
	font-size: 12px;
	padding: 5px;
}
#language a:hover{
	background: #86b986;
}
#textTop h1{
	color: #FFF;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 300;
}
.color1{
	color: #fff;
	/*background: #112232 url('../img/bgDescer.jpg')no-repeat bottom center , #112232 url('../img/bgSubir.jpg') no-repeat top center ;*/
	padding-bottom: 150px;
	padding-top: 150px;
	background: url(../img/bgDescer.jpg) no-repeat bottom center, url(../img/bgSubir.jpg) no-repeat center top;
	background-color: #112232;
}
.color2{
	background-color: #4e7b52;
	color: #fff;
}
#why{
	background: url(../img/letras.png) no-repeat center top;
	background-size: cover;
	background-color:  #4e7b52;
	color: #fff;
}
#footer{
	background-color: #669966;
	color: #fff;
}
#footer a{
	color: #fff;
}
#footer a:hover{
	color: #ddd;
}
#footer img{
	max-width: 500px;
}
#boxUse{
	position: relative;
	margin-bottom: 100px;
	padding-bottom: 50px;
}
#howTo{
	background-color: #ededed;
	padding: 20px;
	border-radius: 20px;
	border: 5px solid #4e7b52;
	position: absolute;
	top: -120px;
	width: 100%;
	z-index: 10;
}
#howTo img{
	width: 80px;
	float: left;
}
.howToText{
	margin-left: 100px;
	color: #2c3e50;
}
#accordionFAQ button{
	color: #fff;
}
#accordionFAQ .card{
	background-color: #4e7b52;
	border-color: #fff;
}
#accordionFAQ .card-header{
	border-color: #fff;
}
#feature .nav-item{
	border: 0px ;
	margin-bottom: 3px;
	margin-right: 3px;
	border-radius: 0;
}
#feature .nav-link{
	border: 0;
	border-radius: 0;
	color: #669966;
	background-color: #eee;
}
#feature .nav-link.active{
	background-color: #669966;
	color: #fff;
	border-radius: 0;
}
.nav-tabs{
	border: 0!important;
}
#featureContent{
	padding: 20px 0;
	border:0;
}
#siteDeCS h1{
	margin-top: 60px;
}
#siteDeCS a{
	color: #4e7952;
}
#siteDeCS a:hover{
	color: #86b986;
}
/************* Breakpoint *************/
@media (max-width: 992px){
	#footer img{
		width: 80%;
		text-align: center;
	}
	#textTop h1{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#boxUse{
		margin-bottom: 100px;
		padding-bottom: 0;
	}
	#siteDeCS h1{
		margin-top: 20px;
		font-size: 30px;
	}
}
@media (max-width: 768px){
	#language{
		float: none;
		position: static;
		text-align: center;
		width: 100%;
		z-index: auto;
	}
	#textTop h1{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 30px;
	}
	.title, .title1{
		font-size: 32px;
	}
	#boxUse{
		margin-bottom: 20px;
	}
	#howToSection{
		padding: 0 0 20px 0!important;
		margin-top: -100px;
	}
	#howTo{
		position: static;
		width: 90%;
		margin: 10px auto;
	}
	#footer{
		padding: 20px; 
		text-align: center;
	}
	#footer img{
		width: 80%;
		text-align: center;
	}
	#siteDeCS h1{
		margin-top: 0px;
		margin-bottom: 20px;
	}
}
/*correções svg Internet Explorer Edge*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	img[src$=".svg"]{
		width: 100%; 
	}
}