 /* @autor: BIREME | OPAS | OMS - > Márcio Alves */

.marginTB1{margin-top: 10px; margin-bottom: 10px;}
.card-body:hover, .list-group-item:hover{
	background: rgba(59, 44, 133, 0.1)!important;
		border-color: #3b2c85!important; 
}
.wizardModalTitle{
	background-color: #4e7952;
	color: #fff;
	border-radius: 0;
}
.wizardModalBody{
	background-color: #f1f1f1;
}

.wizardModalfooter{
	background-color: #fff;
}
#wizard{
		text-align: center;
		font-size: 15px;
		background: rgba(78, 121, 82, 0.1);
		padding: 10px 0;
		border-radius: 10px;
	}
	#wizard li{
		display: inline-block;
	}
	.icone{
		color: #4e7952;
		padding: 0 10px;
	}
	.icone2{
		color: #ccc;
	}
	.icone3{
		color: #4e7952;
	}
.cartbt{
	cursor: pointer;
}
.cartbt:hover{
	cursor: pointer;
}
.wizardColor1{
	border-left: 5px solid cyan; 
}
.wizardColor2{
	border-left: 5px solid orange; 
}
.wizardColor3{
	border-left: 5px solid red; 
}
.wizardColor4{
	border-left: 5px solid darkcyan; 
}