<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DeCS/MeSH Finder</display-name>

    <context-param>
        <description>DeCS database directory</description>
        <param-name>DECS_PATH</param-name>
        <!--param-value>/home/javaapps/sbt-projects/DeCSHighlighter/decs/decs</param-value-->
        <param-value>decs/decs</param-value>
    </context-param>

    <context-param>
        <description>Annif base url </description>
        <param-name>ANNIF_BASE_URL</param-name>
        <param-value>http://annif.teste.bireme.br:5000/</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - Portuguese</description>
        <param-name>ANNIF_PROJECT_PT_ID</param-name>
        <param-value>omikuji-decs</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - Spanish</description>
        <param-name>ANNIF_PROJECT_ES_ID</param-name>
        <param-value>omikuji-decs-es</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - English</description>
        <param-name>ANNIF_PROJECT_EN_ID</param-name>
        <param-value>omikuji-decs-en</param-value>
    </context-param>

    <servlet>
        <servlet-name>DMFSiteServlet</servlet-name>
        <servlet-class>org.bireme.dmf.DMFSiteServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DMFServlet</servlet-name>
        <servlet-class>org.bireme.dmf.DMFServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DMFWizardServlet</servlet-name>
        <servlet-class>org.bireme.dmf.DMFWizardServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>DMFSiteServlet</servlet-name>
        <url-pattern>/dmfs</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DMFServlet</servlet-name>
        <url-pattern>/dmf</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DMFWizardServlet</servlet-name>
        <url-pattern>/dmfw</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
