<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DeCS/MeSH Finder</display-name>

    <context-param>
        <description>DeCS database directory</description>
        <param-name>DECS_PATH</param-name>
        <param-value>decs/decs</param-value>
    </context-param>

    <context-param>
        <description>DeCS database directory (used to prefix and suffix mark process)</description>
        <param-name>DECS_PREFSUF_PATH</param-name>
        <param-value>decs/decs_prefsuf</param-value>
    </context-param>

    <context-param>
        <description>Annif base url </description>
        <param-name>ANNIF_BASE_URL</param-name>
        <param-value>http://annif.bvsalud.org:5000/</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - Portuguese</description>
        <param-name>ANNIF_PROJECT_PT_ID</param-name>
        <param-value>ensemble-decs-pt</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - Spanish</description>
        <param-name>ANNIF_PROJECT_ES_ID</param-name>
        <param-value>ensemble-decs-es</param-value>
    </context-param>

    <context-param>
        <description>Annif project identifier - English</description>
        <param-name>ANNIF_PROJECT_EN_ID</param-name>
        <param-value>ensemble-decs-en</param-value>
    </context-param>

    <context-param>
        <description>Ollama Client Host</description>
        <param-name>OLLAMA_HOST</param-name>
        <param-value>186.209.156.70</param-value>
    </context-param>

    <servlet>
        <servlet-name>DMFServlet</servlet-name>
        <servlet-class>org.bireme.dmf.DMFServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DMFServlet</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

</web-app>
